* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #33086c;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
    background: #93a2e5;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.login-form .form-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0px 30px;
    color: #111;
}

.login-form .form-input {
    margin: 10px 0px;
}

.login-form .form-input label,
.login-form .captcha label {
    display: block;
    font-size: 15px;
    color: #111;
    margin-bottom: 5px;
}

.login-form .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    font-size: 15px;
}

.login-form .captcha {
    margin: 15px 0px;
}

.login-form .captcha .preview {
    color: #555;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border: 1px dashed #888;
    font-family: monospace;
}

.login-form .captcha .preview span {
    display: inline-block;
    user-select: none;
}

.login-form .captcha .captcha-form {
    display: flex;
}

.login-form .captcha .captcha-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
}

.login-form .captcha .captcha-form .captcha-refresh {
    width: 40px;
    border: none;
    outline: none;
    background: #888;
    color: #eee;
    cursor: pointer;
}

.login-form #login-btn {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    background: #2457ce;
    color: #fff;
    cursor: pointer;
}

.login-form .captcha .captcha-form .captcha-refresh img {
    width: 40px;
    height: 40px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure particles appear behind other content */
}

/* Styling for the footer */
#page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(181, 153, 217, 0.7); /* Transparent purple */
    color: white;
    text-align: right;
    padding: 10px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

#page-footer:hover {
    background-color: rgba(181, 153, 217, 0.9); /* Darker purple on hover */
}



